@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
*{
    box-sizing: border-box;
}
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
.banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    height: 660px;
    background-size: cover;
}

nav{
    padding: 0;
    margin: 0;
}
.jumbotron-header {
    
    padding: 10px 0px;
}
.navLink{
   font-family: 'Montserrat', sans-serif;
   color: #ffffff;
   font-size: 15px;
   text-decoration: none;
}
.navLink:hover{
   text-decoration: none; 
   color:  #e8b417;
}
.active1{
   color:  #e8b417;  
}
.jumbotron-footer{
   background:#060506 !important;
	border-radius: 0px !important;
	background-repeat: no-repeat;
    background-size: cover;
	text-align:left;
	padding: 100px 0px 100px 0px !important;
    margin: 0px;
}
.footer-heading{
	color: #fff;
	font-size:16px;
	text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
	 font-family: 'Montserrat', sans-serif;
 
}
.footer-links{
	color: #eee;
	font-size:14px;
	text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 0px 8px 0px;
    line-height: 32px !important;
}
.footer-links:hover{
	color: #fff !important;
    text-decoration: none;
}
.footer-social-icon{
    color: #fff;
    font-size: 15px;
}
.logo{
     color: #ffffff !important;
     font-weight: bold;
     font-family: 'Montserrat', sans-serif;
     font-size: 26px;
     letter-spacing: 2px;
}
.topPadding{
    position: relative;
    top: 110px;
    left: 30px;
}
.bigHeading{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.bigHeading span{
    color:  #e8b417;
}
.consulButton{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background-color:  #e8b417;
    padding: 16px 21px;
}
.consulButton:hover{
    border: 2px solid  #e8b417;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}
.logo1{
     color: #e8b417 !important;
     font-family: 'Montserrat', sans-serif;
     font-size: 12px;
}
.navLink1{
    color: #000000 !important;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px !important;
    font-size: 12px;
    text-transform: capitalize;
}
.navLink1:hover{
    color: #e8b417 !important; 
    background-color: transparent;
}
.subHeading{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.6;
}
.yellowBox{
    background-color: #e8b417;
    padding: 40px 30px;
    text-align: center;
}
.bigHeading2{
    font-size: 25px;
    margin: 0px auto;
    text-transform: capitalize;
}
.bigHeading1{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 12px;
}
.bigHeading1 span{
    color: #e8b417;
    font-size: 44px;
}
.heading{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6; 
    letter-spacing: 1px;
}
.subHeadingGrey{
    color:  #8c8c8c;
}
.consulButtonBlack:hover{
    color: #000000;
}
.backImg1{
   background-image: url(../images/law.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 60px 65px;
   border-radius: 50%;
    width: 100%;
    height: auto;
    text-align: center;
}
.active2{
    font-size: 19px;
}
.clrBack{
    background-color:  #fdf7e8;
    padding: 100px 0px;
}
.clrBack1{
    background-color:  #fdf7e8;
    padding: 100px 0px 190px 0px;
}
.greyBox{
    padding: 40px 30px 30px 30px;
    background-color: #e6e6e6;
    cursor: pointer;
}
.greyBox:hover{
    background-color: #f7dfa1;
}
.heading1{
    font-size: 24px;
}
.heading1Clr{
    color: #d39d12;
    font-size: 44px;
    margin-bottom: -5px;
}
.middleImg{
  width: 100%;
  height: 460px;
}
.borderLeft{
    border-left: 1px solid #d39d12;
}
.clrBoxContainer{
    background-color: #d39d12;
    padding: 100px 40px;
    cursor: pointer;
    text-align: center;
}
.bigHeadingsmall{
    font-size: 37px;
}
.consulButtonBlack1{
    background-color: #000000;
}
.consulButtonBlack1:hover{
    border: 2px solid #000000;
    color: #ffffff;
}
.thumbnailImg{
   width: 100%;
   height: 310px;
}
.thumbBox:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.smallClrBox{
    background-color: #d39d12;
    padding: 6px;
}
.whiteBack{
    background-color: #ffffff;
    padding: 80px 20px;
    margin-top: -130px;
}
.whiteSmallBox{
    background-color: #ffffff;
    padding: 60px 10px;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.whiteSmallBox:hover{
    box-shadow: 0 4px 8px 0 #fdf7e8, 0 6px 20px 0 #f1c65b;
}
.backImg2{
   background-image: url(../images/bannerimage.png);
   background-position: center;
   background-repeat: no-repeat;
   padding: 70px 0px;
   background-size: cover;
}
.whiteBox2{
    background-color: #ffffff;
    padding: 40px 70px;
}
.consulButtonBlackBlock{
    display: block;
    text-align: center;
}
.box1{
    background-color: #e8b417;
    padding: 17px 0px;
    border-radius: 32px;
}
.box2{
    background-color: #ffffff;
    padding: 20px 0px;
    border-radius: 32px;
}
.circleImg{
    width: 70px;
    height: 70px;
    margin: 18px 0px;
}
.carousel-indicators li{
    background-color: #e8b417;
}
.carousel-indicators li{
    width: 11px;
    height: 11px;
    border-radius:50%;
}
.carousel-indicators{
    bottom: -84px;
}





/* Extra small devices (phones, 300px and down)  start*/
@media only screen and (max-width: 300px) {
   
    
}


/* Extra small devices (phones, 320px and down)  start */
@media only screen and (max-width: 320px) {


}


/* Medium devices ( 767px and down) start */
@media only screen and (max-width: 767px){ 

}



/* Medium devices (landscape tablets, 768px and up)  start*/
@media only screen and (min-width: 768px) {
  .navLink{
    padding: 0px 10px;     
 }
    .bigHeading1{
        font-size: 27px;
    }
    
}
    

/* Medium devices ( 768px and down) start */
@media only screen and (max-width: 768px){ 
    .bigHeading{
        font-size: 35px;
    }
    .navLink{
        font-size: 12px; 
    }
    

}



/* Large devices (laptops/desktops, 992px and up)  start*/
@media only screen and (min-width: 992px) {
 .navLink{
    padding: 0px 4px;     
 }
    .bigHeading1{
        font-size: 32px;
    }
    
    
}



/* Extra large devices (large laptops and desktops, 1200px and up)  start*/
@media only screen and (min-width: 1200px) {
  .navLink{
     padding: 0px 10px;     
  }
 
}
